/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}




/* ========================================================================== *\
	DEFAULT DESKTOP STYLES 
\* ========================================================================== */		

body {
	background: #fff;
}

.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix{height:1%}

header h1 {

	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 36px;
	margin: 20px 0px 0px 0px;
	padding:0px;
}
header h2 {

	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0px;
	padding:0px;
	color:#666;
}

.main h1 {

	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 26px;
	margin: 20px 0px 0px 0px;
	padding:0px;
}

/* ========================================================================== *\
   MOBILE WIDE STYLES - FROM 767 down
\* ========================================================================== */	

@media only screen and (min-width: 0px) and (max-width: 767px) {
	
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		@include grid(12, 12, 1%);
	}
	
	li a{
		width:100%;
		display:block;
		text-align:center;
	}
	
	.logo {
		text-align:center;
	}
	
}



/* ==|== media queries ====================================================== */