/* ========================================================================== *\
   GENERAL VARIABLES
\* ========================================================================== */

/*$sitewidth: 1140px;*/
$sitewidth: 100%;

/* ========================================================================== *\
   PADDING VARIABLES
\* ========================================================================== */

$grid-right-padding: 3%;
$grid-left-padding: 3%;